<!doctype html>
{% if user_settings.username == "" %}
    <title>PolarisHub (Flask v0.1)</title>
{% else %}
    <title>{{user_settings.username}}'s PolarisHub (Flask v0.1)</title>
{% endif %}
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/all.css">
<link rel="icon" href="/static/favicon.ico"type=”image/x-icon”>
<meta name="viewpoint" content="user-scalable=no, width=device-width, initial-scale=1.0">

<div class="container">
    <div class="my-5">
    <div class="d-flex justify-content-between">
        <div class="d-flex  align-items-end">
        {% if user_settings.username == "" %}
            <h1 class="mr-3">PolarisHub</h1> <p>(Flask v0.1)</p>
        {% else %}
            <h1 class="mr-3">{{user_settings.username}}'s PolarisHub</h1> <p> (Flask v0.1)</p>
        {% endif %}
        </div>

        <div>
            <a href="https://github.com/XieGuochao/polarishub_flask" target="_blank">
                <button type="button" class="btn btn-outline-primary my-1">
                    <i class="fab fa-github"></i> 
                </button>
            </a>
            <a href="/about"> 
                <button type="button" class="btn btn-outline-primary my-1 ml-3 mr-3">
                    About / 关于
                </button>
            </a>
            <a href="/help"> 
                <button type="button" class="btn btn-outline-primary my-1 float-right">
                    Help / 帮助
                </button>
            </a>
        </div>
    </div>
    <div>
        <form action="/qr" method = "POST">
        <!-- <a href="/qr?filepath=/files" class="float-right"> -->
            <input type="text" style="display: none" id="filepath" name="filepath" value="/files">
            <button type="submit" class="btn btn-outline-primary my-1 float-right">
                <i class="fas fa-share-alt"></i> 
            </button>
        <!-- </a> -->
        </form>
    </div>

    {% if is_admin %}
    <div class="d-flex flex-row">
        <a href="/settings" class=" flex-fill">
            <button type="button" class="btn btn-outline-primary my-1 btn-block">
                 Settings / 设置
            </button>
        </a>
        <button type="button" class="btn btn-outline-primary my-1 flex-fill" onclick="opendir()">Open Directory / 打开文件夹</button>
        <br>
        <a href="/halt" class=" flex-fill">
            <button type="button" class="btn btn-outline-primary my-1 btn-block">
                 Shutdown / 关闭
            </button>
        </a>
        <script>
            function opendir() {
                fetch('/opendir?dir={{cwd}}').then((res)=>{
                    return res.status;
                }).then((status)=>{
                    if (status==200) {
                        <!-- window.alert("Successfully open dir."); -->
                    }
                    else {
                        window.alert("Open dir fails.");
                    }
                })
            }
        </script>
        <br>
    </div>
    {% endif %}

    </div>

    <div class="">

    
    <ul class="list-group">
        <li class="list-group-item">
            <i class="fa fa-folder" aria-hidden="true"></i>
            <a href="../" class="w">
                ../
            </a>
        </li>
        {% for dir in dirs %}
            <li class="list-group-item ">
                {% if dir[1] %}
                    <i class="fa fa-file" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-folder" aria-hidden="true"></i>
                {% endif %}
                {% if dir[1] %}
                    <a href="{{ dir[0] }}" class="w">
                {% else %}
                    <a href="{{ dir[0] }}/" class="w">
                {% endif %}
                
                    {{dir[0]}}
                </a>
                <div class="float-right d-flex flex-row">
                    <div class="mr-3">{{"http://{}:5000{}".format(ip, dir[2].replace("\\", "/"))}}</div>
                    <!-- <a href="/qr?filepath={{dir[2].replace("\\", "/")}}"> <i class="fas fa-share-alt"></i> </a> -->
                    <form action = "/qr" method="POST">
                        <input type="text" style="display: none" id="filepath" name="filepath" value="{{dir[2].replace("\\", "/")}}">
                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-share-alt"></i> </button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
</div>
