<!doctype html>
<title>PolarisHub (Flask v0.1)</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="icon" href="/static/favicon.ico"type=”image/x-icon”>
<meta name="viewpoint" content="user-scalable=no, width=device-width, initial-scale=1.0">

<div class="container">
    <div class="my-5">
        <h1>Scan to get <i>{{filename}}</i></h1>
        <a href="/"> 
            <button button type="button" class="btn btn-outline-primary my-1">
                Back Home / 返回首页 
            </button>
        </a>
        <div class="shadow-lg p-3 mb-5 bg-white rounded d-flex justify-content-center">
            <img src="{{filepath}}"/>     
        </div>
    </div>
</div>
