<!doctype html>
<title>{{user_settings.username}}'s PolarisHub (Flask v0.1)</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/all.css">
<meta name="viewpoint" content="user-scalable=no, width=device-width, initial-scale=1.0">

<div class="container">
    <div class="my-5">
    <div class="d-flex justify-content-between">
        <h1>{{user_settings.username}}'s PolarisHub (Flask v0.1)</h1>
        <a href="/about"> 
            <button button type="button" class="btn btn-outline-primary my-1 float-right">
                About
            </button>
        </a>
    </div>
    <a href="/qr?filepath=/files" class="float-right">
        <button button type="button" class="btn btn-outline-primary my-1 float-right">
            <i class="fas fa-share-alt"></i> 
        </button>
    </a>

    {% if is_admin %}
        <a href="/settings">
            <button button type="button" class="btn btn-outline-primary my-1">
                 Settings 
            </button>
        </a>
        <button button type="button" class="btn btn-outline-primary my-1" onclick="opendir()">Open Directory</button>
        <br>
        <script>
            function opendir() {
                fetch('/opendir?dir={{cwd}}').then((res)=>{
                    return res.status;
                }).then((status)=>{
                    if (status==200) {
                        window.alert("Successfully open dir.");
                    }
                    else {
                        window.alert("Open dir fails.");
                    }
                })
            }
        </script>
        <br>
    {% endif %}

    </div>

    <div class="">

    
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../" class="w">
                ../
            </a>
        </li>
        {% for dir in dirs %}
            <li class="list-group-item {{dir[1] and 'list-group-item-primary'}}">
                {% if dir[1] %}
                <a href="{{ dir[0] }}" class="w">
                {% else %}
                <a href="{{ dir[0] }}/" class="w">
                {% endif %}
                
                    {{dir[0]}}
                </a>
                <a href="/qr?filepath={{dir[2].replace("\\", "/")}}" class="float-right"> <i class="fas fa-share-alt"></i> </a>
            </li>
        {% endfor %}
    </ul>
    </div>
</div>
